*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: calc(0.8rem + 1.5vw);
}

body {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

h1 {
    align-self: center;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    gap: 1rem;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 1rem;
    background: gray;
    aspect-ratio: 16 / 9;
    border-radius: 1rem;
}

.book p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

dialog {
    margin: revert;
    border-radius: 0.5rem;
    border: none;
}

input, label, button {
    display: block;
    font-family: inherit;
    font-size: 100%;
    padding: 5px;
    width: 100%;
}

input[type="checkbox"],
label:has(+ input[type="checkbox"])
{
    display: inline-block;
    width: auto;
}

button {
    padding: 0.5rem 0.9rem;
    border-radius: 0.8rem;
    border: none;
}

button.add-book {
    margin: 1rem auto;
    width: 20%;
}

form {
    position: relative;
    padding: 1rem;
}

.close {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    fill: black;
    width: 0.6rem;
    height: 0.6rem;
    cursor: pointer;
}

.close:hover {
    fill: red;
}

.not-read {
    background: red;
}

.read {
    background: green;
}